BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

BreakBeforeBraces: Linux
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements

AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignEscapedNewlinesLeft: true
AlignOperands: true
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false

ColumnLimit: 125

Cpp11BracedListStyle: true