[submodule "dependencies/hptimelib"]
	path = dependencies/repos/hptimelib
	url = https://github.com/ralequi/hptimelib.git
[submodule "dependencies/repos/httpDissector"]
	path = dependencies/repos/httpDissector
	url = git@repit.ii.uam.es:naudit/httpDissector.git
[submodule "dependencies/repos/linenoise"]
	path = dependencies/repos/linenoise
	url = https://github.com/antirez/linenoise
[submodule "dependencies/repos/netlib/wormhole"]
	path = dependencies/repos/netlib
	url = git@repit.ii.uam.es:hilo/netlib.git
[submodule "dependencies/repos/cmake-includer"]
	path = dependencies/repos/cmakeLimiter
	url = https://github.com/cppserv/cmake-includer.git
